
<div class="container">
    <div class="row">
        @for (item of district;track item.id){
            <div class="col">
                <div class="card mb-3" style="width: 18rem; height: 25rem;">
                    <img src="{{item.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-title">{{item.description | slice :0:100}}....</p>
                        <a [routerLink]="['/district',item.id]" class="btn-primary">Go somewhere</a>
                    </div>
                
                </div>
            </div>
        }
    </div>
</div>
