section{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(../../../assets/images/g1.png);
	height: 150vh;
	background-size: cover;
	background-position: center;
            background-repeat: no-repeat;
  	background-attachment: fixed;
    
}