
  <nav class="navbar navbar-expand-lg" >
    <div class="container-fluid ">
      <a class="navbar-brand ms-2 mb-2" href=""><img  src="../../../assets/images/gods.png" alt="" width="100"  height="70"></a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me mb-2 mb-lg-0 ms-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" routerLink="/district">District</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul></div>
        <div class="log ">
        <button class="btn btn-outline-success "
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.25rem;">Login</button>
        <button class="btn btn-outline-success ms-4"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.25rem;">SignUp</button>
    </div>
      </div>
  </nav>