<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img  src="../../../assets/images/gods.png" alt="" width="100"  height="70"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me mb-3 mb-lg-0  my-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="">Home</a>
              </li>
          <li class="nav-item ms-3">
            <a class="nav-link" routerLink="/district">District</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul></div>
        <button class="btn btn-outline-success mx-2 ms-3 my-sm-0">Login</button>
        <button class="btn btn-outline-success  ms-3 my-sm-0">SignUp</button>
      
      </div>
    
  </nav>